<div class="modal" id="{{ target }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ titulo }}</h4>
      </div>
      <div ng-transclude></div>
    </div>
  </div>
</div>