<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="logo">
          <h1><a href="/">REASE</a></h1>
        </div>
      </div>

      <div class="col-md-2">
        <div class="navbar navbar-inverse" role="banner">
          <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav" ng-transclude></ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
