<!DOCTYPE html>
<html>
	<head>
		<title>Rease - Sistema de Eventos</title>
		<base href="/">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <!-- Bootstrap -->
	  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	  <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	  <!-- styles -->
	  <link href="assets/css/styles.css" rel="stylesheet">

	  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	  <!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	  <![endif]-->
		<script type="text/javascript" data-main="app/main" src="bower_components/requirejs/require.js" charset="UTF8"></script>
	</head>
	<body class="{{ body_class }}">
		<header ng-include="'/app/views/navbar.html'"></header>
		<main class="page-content {{ content_class }}">
			<div class="row">
				<div ng-include="'/app/views/menu.html'"></div>
				<div ng-if="loading">
					<ui-view></ui-view>
				</div>
			</div>
		</main>
		<footer ng-include="'/app/views/footer.html'"></footer>	
	</body>
</html>
