<div class="col-md-9" oc-lazy-load="['alert', 'panel', 'modal']">
  <div class="text-center">
    <i ng-if="!vm.list_loading" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
  <div class="row" ng-if="vm.list_loading">
    <div class="col-md-12">
      <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
      <alert tipo="info" ng-if="vm.loadingCertificado">
        <div class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>O certificado está sendo gerado, por favor, aguarde até que seja aberta uma nova aba no seu navegador contendo o certificado em PDF.
      </alert>
      <panel titulo="Certificados">
        <table class="table" ng-if="vm.certificados">
          <thead>
            <th>#</th>
            <th>Evento</th>
            <th>Nome</th>
            <th>Nome no Certificado</th>
            <th>Status</th>
          </thead>
          <tbody>
            <tr ng-repeat='certificado in vm.certificados_minicurso'>
              <td>Minicurso</td>
              <td>{{ certificado.evento }}</td>
              <td>{{ certificado.turma }}</td>
              <td>
                <span ng-if="certificado.nome_certificado">{{ certificado.nome_certificado }}</span>
                <modal-button-open ng-if="!certificado.nome_certificado" tipo="link" target="certificado-nome-{{ certificado.pk }}"><i class="fa fa-plus"></i> Definir</modal-button-open>
                <modal ng-if="!certificado.nome_certificado" titulo="Nome no Certificado" target="certificado-nome-{{ certificado.pk }}">
                  <modal-body>
                    <form novalidate name="vm.form" ng-submit="vm.submitNomeCertificado(certificado)">
                      <div class="form-group" ng-class="{'has-error' : vm.form.nome_certificado.$invalid}">
                        <label for="id_nome_certificado">Nome</label>
                        <input class="form-control" type="text" name="nome_certificado" ng-model="vm.data.nome_certificado" required />
                        <span class="help-block" ng-repeat="error in vm.error.nome_certificado">{{ error }}</span>
                      </div>
                      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i>Salvar</button>
                    </form>
                  </modal-body>
                  <modal-footer>
                    <modal-button-close>Fechar</modal-button-close>
                  </modal-footer>
                </modal>
              </td>
              <td>
                <button ng-if="certificado.nome_certificado && certificado.disponivel" class="btn btn-link" ng-click="vm.getCertificado(certificado.token)"><i class="glyphicon glyphicon-cloud-download"></i> Baixar</button>
                <span ng-if="!certificado.nome_certificado && certificado.disponivel">Disponível</span>
                <span ng-if="!certificado.disponivel">Indisponível</span>
              </td>
            </tr>
            <tr ng-repeat='certificado in vm.certificados_atividade'>
              <td>Atividade</td>
              <td>{{ certificado.evento }}</td>
              <td>{{ certificado.turma }}</td>
              <td>
                <span ng-if="certificado.nome_certificado">{{ certificado.nome_certificado }}</span>
                <modal-button-open ng-if="!certificado.nome_certificado" tipo="link" target="certificado-nome-{{ certificado.pk }}"><i class="fa fa-plus"></i> Definir</modal-button-open>
                <modal ng-if="!certificado.nome_certificado" titulo="Nome no Certificado" target="certificado-nome-{{ certificado.pk }}">
                  <modal-body>
                    <form novalidate name="vm.form" ng-submit="vm.submitNomeCertificado(certificado)">
                      <div class="form-group" ng-class="{'has-error' : vm.form.nome_certificado.$invalid}">
                        <label for="id_nome_certificado">Nome</label>
                        <input class="form-control" type="text" name="nome_certificado" ng-model="vm.data.nome_certificado" required />
                        <span class="help-block" ng-repeat="error in vm.error.nome_certificado">{{ error }}</span>
                      </div>
                      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i>Salvar</button>
                    </form>
                  </modal-body>
                  <modal-footer>
                    <modal-button-close>Fechar</modal-button-close>
                  </modal-footer>
                </modal>
              </td>
              <td>
                <button ng-if="certificado.nome_certificado && certificado.disponivel" class="btn btn-link" ng-click="vm.getCertificado(certificado.token)"><i class="glyphicon glyphicon-cloud-download"></i> Baixar</button>
                <span ng-if="!certificado.nome_certificado && certificado.disponivel">Disponível</span>
                <span ng-if="!certificado.disponivel">Indisponível</span>
              </td>
            </tr>
            <tr ng-repeat='certificado in vm.certificados_evento'>
              <td>Participação</td>
              <td>{{ certificado.evento }}</td>
              <td>{{ certificado.descricao }}</td>
              <td>
                <span ng-if="certificado.nome_certificado">{{ certificado.nome_certificado }}</span>
                <modal-button-open ng-if="!certificado.nome_certificado" tipo="link" target="certificado-nome-{{ certificado.pk }}"><i class="fa fa-plus"></i> Definir</modal-button-open>
                <modal ng-if="!certificado.nome_certificado" titulo="Nome no Certificado" target="certificado-nome-{{ certificado.pk }}">
                  <modal-body>
                    <form novalidate name="vm.form" ng-submit="vm.submitNomeCertificado(certificado)">
                      <div class="form-group" ng-class="{'has-error' : vm.form.nome_certificado.$invalid}">
                        <label for="id_nome_certificado">Nome</label>
                        <input class="form-control" type="text" name="nome_certificado" ng-model="vm.data.nome_certificado" required />
                        <span class="help-block" ng-repeat="error in vm.error.nome_certificado">{{ error }}</span>
                      </div>
                      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i>Salvar</button>
                    </form>
                  </modal-body>
                  <modal-footer>
                    <modal-button-close>Fechar</modal-button-close>
                  </modal-footer>
                </modal>
              </td>
              <td>
                <button ng-if="certificado.nome_certificado && certificado.disponivel" class="btn btn-link" ng-click="vm.getCertificado(certificado.token)"><i class="glyphicon glyphicon-cloud-download"></i> Baixar</button>
                <span ng-if="!certificado.nome_certificado && certificado.disponivel">Disponível</span>
                <span ng-if="!certificado.disponivel">Indisponível</span>
              </td>
            </tr>
            <tr ng-repeat='certificado in vm.certificados_palestra'>
              <td>Palestra</td>
              <td>{{ certificado.evento }}</td>
              <td>{{ certificado.palestra }}</td>
              <td>
                <span ng-if="certificado.nome_certificado">{{ certificado.nome_certificado }}</span>
                <modal-button-open ng-if="!certificado.nome_certificado" tipo="link" target="certificado-nome-{{ certificado.pk }}"><i class="fa fa-plus"></i> Definir</modal-button-open>
                <modal ng-if="!certificado.nome_certificado" titulo="Nome no Certificado" target="certificado-nome-{{ certificado.pk }}">
                  <modal-body>
                    <form novalidate name="vm.form" ng-submit="vm.submitNomeCertificado(certificado)">
                      <div class="form-group" ng-class="{'has-error' : vm.form.nome_certificado.$invalid}">
                        <label for="id_nome_certificado">Nome</label>
                        <input class="form-control" type="text" name="nome_certificado" ng-model="vm.data.nome_certificado" required />
                        <span class="help-block" ng-repeat="error in vm.error.nome_certificado">{{ error }}</span>
                      </div>
                      <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i>Salvar</button>
                    </form>
                  </modal-body>
                  <modal-footer>
                    <modal-button-close>Fechar</modal-button-close>
                  </modal-footer>
                </modal>
              </td>
              <td>
                <button ng-if="certificado.nome_certificado && certificado.disponivel" class="btn btn-link" ng-click="vm.getCertificado(certificado.token)"><i class="glyphicon glyphicon-cloud-download"></i> Baixar</button>
                <span ng-if="!certificado.nome_certificado && certificado.disponivel">Disponível</span>
                <span ng-if="!certificado.disponivel">Indisponível</span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <th>#</th>
            <th>Evento</th>
            <th>Nome</th>
            <th>Nome no Certificado</th>
            <th>Status</th>
          </tfoot>
        </table>
        <span ng-if="!vm.certificados">Você não possui certificados.</span>
      </panel>
    </div>
  </div>
</div>