<div class="col-md-9" oc-lazy-load="['alert', 'panel']">
  <div class="text-center">
    <i ng-if="!vm.list_loading" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
  <div class="row" ng-if="vm.list_loading">
    <div class="col-md-12">
      <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
      <alert tipo="success" ng-show="vm.flash.getMessage()">{{ vm.flash.getMessage() }}</alert>
      <panel class="col-md-4" ng-repeat="evento in vm.edicoes">
        <div class="text-center">
          <img class="img-responsive" src="{{ evento.logomarca }}" />
          <h2>{{ evento.nome }}</h2>
          <p>
            <a class="btn btn-default" ui-sref="createInscricoes({edicao: evento.pk})">Inscreva-se</a>
          </p>
        </div>
      </panel>
      <panel ng-if="!vm.edicoes.length" titulo="Eventos">Não há eventos disponíveis</panel>
    </div>
  </div>
</div>