<div class="col-md-9" oc-lazy-load="['alert', 'panel', 'modal']">
  <div class="row">
    <div class="col-md-12">
      <panel>
        <alert tipo="danger" ng-repeat="error in vm.error.non_field_errors">{{ error }}</alert>
        <h2>Inscrição</h2>
        <form novalidate name="vm.form" ng-submit="vm.submit()">
          <panel-body>
            <div class="form-group" ng-class="{'has-error' : vm.form.tipo.$invalid}">
              <label for="id_tipo">Tipo de Inscrição</label>
              <select class="form-control" name="tipo" ng-model="vm.data.tipo" ng-options="tipo.pk as tipo.nome for tipo in vm.tipos" ng-change="vm.estimatedPrice()" required>
                <option value="" selected>-------------</option>
              </select>
              <span class="help-block" ng-repeat="error in vm.error.tipo">{{ error }}</span>
            </div>
            <div ng-repeat="grupo in vm.grupos" ng-if="grupo.minicursos.length || grupo.atividades.length">
              <legend>{{ grupo.nome }}</legend>
              <table class="table table-bordered" ng-if="grupo.minicursos.length">
                <thead>
                  <th>#</th>
                  <th>Minicurso</th>
                  <th>Vagas</th>
                  <th>Profissional</th>
                  <th>Horários</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="radio" name="grupo-{{ grupo.pk }}" ng-model="vm.certificados[vm.grupos.indexOf(grupo)]" ng-disabled="!vm.data.tipo" ng-click="vm.cleanGrupo(grupo); vm.estimatedPrice();" value="" />
                    </td>
                    <td>Nenhum</td>
                  </tr>
                  <tr ng-repeat="turma in grupo.minicursos">
                    <td>
                      <input type="radio" name="grupo-{{ grupo.pk }}" ng-model="vm.certificados[vm.grupos.indexOf(grupo)]" ng-value="turma.pk" ng-disabled="!vm.data.tipo" ng-click="vm.selectedTurmasMinicursos(grupo, turma.pk); vm.estimatedPrice();">
                    </td>
                    <td>
                      {{ turma.minicurso }}
                    </td>
                    <td>
                      {{ turma.vagas }}
                    </td>
                    <td>
                      {{ turma.profissional }}
                    </td>
                    <td>
                      <modal-button-open tipo="link" target="horario-minicurso-{{ turma.pk }}"><i class="fa fa-list"></i> Visualizar</modal-button-open>
                      <modal titulo="Horários" target="horario-minicurso-{{ turma.pk }}">
                        <table class="table table-bordered" ng-if="turma.horarios.length">
                          <thead>
                            <th>Data</th>
                            <th>Início</th>
                            <th>Término</th>
                          </thead>
                          <tr ng-repeat="horario in turma.horarios">
                            <td>{{ horario.data | date : 'dd/MM/yyyy' }}</td>
                            <td>{{ horario.inicio | date : 'HH:mm' }}</td>
                            <td>{{ horario.termino | date : 'HH:mm' }}</td>
                          </tr>
                          <tfoot>
                            <th>Data</th>
                            <th>Início</th>
                            <th>Término</th>
                          </tfoot>
                        </table>
                        <modal-body ng-if="!turma.horarios.length">
                          Não há horários registrados
                        </modal-body>
                        <modal-footer>
                          <modal-button-close>Fechar</modal-button-close>
                        </modal-footer>
                      </modal>
                    </td>
                  </tr>
                </tbody>
              </table>
              <span class="help-block" ng-repeat="error in vm.error.certificados">{{ error }}</span>
              <table class="table table-bordered" ng-if="grupo.atividades.length">
                <thead>
                  <th>#</th>
                  <th>Atividade</th>
                  <th>Descrição</th>
                  <th>Vagas</th>
                  <th>Horários</th>
                </thead>
                <tfoot>
                  <tr ng-repeat="turma in grupo.atividades">
                    <td>
                      <input type="radio" name="grupo-{{ grupo.pk }}" ng-model="vm.certificados[vm.grupos.indexOf(grupo)]" ng-value="turma.pk" ng-disabled="!vm.data.tipo" ng-click="vm.selectedTurmasAtividades(grupo, turma.pk); vm.estimatedPrice();" />
                    </td>
                    <td>
                      {{ turma.atividade }}
                    </td>
                    <td>
                      <a href="javascript:void(0)" ng-if="turma.descricao" ng-click="vm.getDescricao(turma)"> Visualizar</a>
                      <span class="text-danget" ng-if="!turma.descricao">Sem descrição</span>
                    </td>
                    <td>
                      {{ turma.vagas }}
                    </td>
                    <td>
                      <modal-button-open tipo="link" target="horario-atividade-{{ turma.pk }}"><i class="fa fa-list"></i> Visualizar</modal-button-open>
                      <modal titulo="Horários" target="horario-atividade-{{ turma.pk }}">
                        <table class="table table-bordered" ng-if="turma.horarios.length">
                          <thead>
                            <th>Data</th>
                            <th>Início</th>
                            <th>Término</th>
                          </thead>
                          <tr ng-repeat="horario in turma.horarios">
                            <td>{{ horario.data | date : 'dd/MM/yyyy' }}</td>
                            <td>{{ horario.inicio | date : 'HH:mm' }}</td>
                            <td>{{ horario.termino | date : 'HH:mm' }}</td>
                          </tr>
                          <tfoot>
                            <th>Data</th>
                            <th>Início</th>
                            <th>Término</th>
                          </tfoot>
                        </table>
                        <modal-body ng-if="!turma.horarios.length">
                          Não há horários registrados
                        </modal-body>
                        <modal-footer>
                          <modal-button-close>Fechar</modal-button-close>
                        </modal-footer>
                      </modal>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <span class="help-block" ng-repeat="error in vm.error.atividades">{{ error }}</span>
            </div>
            <div ng-if="vm.atividades_gerais.length">
              <legend>Atividades</legend>
              <table class="table table-bordered">
                <thead>
                  <th>Atividade</th>
                  <th>Data</th>
                  <th>Início</th>
                  <th>Término</th>
                </thead>
                <tbody>
                  <tr ng-repeat="atividade in vm.atividades_gerais">
                    <td>
                      {{ atividade.descricao }}
                    </td>
                    <td>
                      {{ atividade.data | date : 'dd/MM/yyyy' }}
                    </td>
                    <td>
                      {{ atividade.inicio | date : 'HH:mm' }}
                    </td>
                    <td>
                      {{ atividade.termino | date : 'HH:mm' }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <th>Atividade</th>
                  <th>Data</th>
                  <th>Início</th>
                  <th>Término</th>
                </tfoot>
              </table>
            </div>
            <div ng-if="vm.palestras.length">
              <legend>Palestras</legend>
              <table class="table table-bordered">
                <thead>
                  <th>Palestra</th>
                  <th>Hora</th>
                  <th>Data</th>
                  <th>Profissional</th>
                </thead>
                <tbody>
                  <tr ng-repeat="palestra in vm.palestras">
                    <td>
                      {{ palestra.nome }}
                    </td>
                    <td>
                      {{ palestra.hora }}
                    </td>
                    <td>
                      {{ palestra.data | date : 'dd/MM/yyyy' }}
                    </td>
                    <td>
                      {{ palestra.profissional }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <th>Palestra</th>
                  <th>Hora</th>
                  <th>Data</th>
                  <th>Profissional</th>
                </tfoot>
              </table>
              <div class="checkbox" ng-if="!vm.certificado_obrigatorio">
                <label>
                  <input type="checkbox" id="palestras" name="id_palestras" ng-disabled="!vm.data.tipo" ng-model="vm.data.certificados_palestras" ng-change="vm.estimatedPrice();" /> Desejo participar das palestras
                </label>
              </div>
            </div>
            <h3 ng-if="!vm.preco">
              <span class="label label-primary">Grátis</span>
            </h3>
            <h4 ng-if="vm.preco">
              Preço: <span class="label label-primary">{{ vm.preco | currency : 'R$ ' }}</span>
            </h4>
          </panel-body>
          <panel-footer>
            <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> {{ vm.confirmButton }}</button>
          </panel-footer>
        </form>
      </panel>
    </div>
  </div>
</div>