<div class="col-md-9" oc-lazy-load="['alert', 'panel', 'modal', 'file-reader']">
  <div class="text-center">
    <i ng-if="!vm.list_loading" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
  <div class="row" ng-if="vm.list_loading">
    <div class="col-md-12">
      <alert tipo="{{ message.tipo }}" ng-repeat="message in vm.message">{{ message.texto }}</alert>
      <alert tipo="success" ng-show="vm.flash.getMessage()">{{ vm.flash.getMessage() }}</alert>
      <panel titulo="{{ inscricao.edicao }}" ng-repeat="inscricao in vm.inscricoes">
        <table class="table" ng-if="inscricao.conta">
          <thead>
            <th colspan="2">Pagamento</th>
          </thead>
          <tbody>
            <tr>
              <th>Preço:</th>
              <td>{{ inscricao.preco }}</td>
            </tr>
            <tr>
              <th colspan="2">Conta Bancária</th>
            </tr>
            <tr>
              <th>Titular:</th>
              <td>{{ inscricao.conta.titular }}</td>
            </tr>
            <tr>
              <th>Banco:</th>
              <td>{{ inscricao.conta.banco }}</td>
            </tr>
            <tr>
              <th>Agencia:</th>
              <td>{{ inscricao.conta.agencia }}</td>
            </tr>
            <tr ng-if="inscricao.conta.operacao">
              <th>Operação:</th>
              <td>{{ inscricao.conta.operacao }}</td>
            </tr>
            <tr>
              <th>Conta:</th>
              <td>{{ inscricao.conta.conta }}</td>
            </tr>
          </tbody>
        </table>
        <table class="table" ng-if="inscricao.documentos_necessarios.length">
          <form novalidate name="vm.form" ng-submit="vm.submit(inscricao)">
            <thead>
              <th>Documento Necessário</th>
              <th>Arquivo</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-group" ng-class="{'has-error' : vm.form.tipo.$invalid}">
                    <select class="form-control" ng-model="vm.data.tipo" name="tipo" id="id_tipo" ng-options="tipo.nome for tipo in inscricao.documentos_necessarios track by tipo.pk" required>
                      <option value="" selected>-------------</option>
                    </select>
                    <span class="help-block" ng-repeat="error in vm.error.tipo">{{ error }}</span>
                  </div>
                </td>
                <td>
                  <div class="form-group" ng-class="{'has-error' : vm.form.documento.$invalid}">
                    <input type="file" ng-model="vm.data.documento" id="id_documento" name="documento" file-reader required />
                    <span class="text-muted">Imagens com tamanho inferior a 1 megabyte</span>
                    <span class="help-block" ng-if="vm.form.documento.$error">Por favor, envie uma imagem com tamanho inferior a 1 megabyte.</span>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <td colspan="2" class="text-right">
                <button class="btn btn-primary" ng-disabled="vm.form.$invalid" type="button" ng-click="vm.submit(inscricao)">Enviar</button>
              </td>
            </tfoot>
          </form>
        </table>
        <table class="table" ng-if="inscricao.documentos_enviados.length">
          <thead>
            <th>Documento Enviado</th>
            <th>Válido</th>
          </thead>
          <tbody>
            <tr ng-repeat='documento in inscricao.documentos_enviados'>
              <td>{{ documento.nome_tipo }}</td>
              <td ng-if="documento.valido">Conferido</td>
              <td ng-if="!documento.valido">Não conferido</td>
            </tr>
          </tbody>
          <tfoot>
            <th>Documento Enviado</th>
            <th>Válido</th>
          </tfoot>
        </table>
        <table class="table" ng-if="inscricao.minicursos.length">
          <thead>
            <th>Minicurso</th>
            <th>Ministrante</th>
            <th>Horário</th>
          </thead>
          <tbody>
            <tr ng-repeat='minicurso in inscricao.minicursos'>
              <td>{{ minicurso.minicurso }}</td>
              <td>{{ minicurso.profissional }}</td>
              <td>
                <modal-button-open tipo="link" target="horario-minicurso-{{ minicurso.pk }}"><i class="fa fa-list"></i> Visualizar</modal-button-open>
                <modal titulo="Horários" target="horario-minicurso-{{ minicurso.pk }}">
                  <table class="table table-bordered" ng-if="minicurso.horarios.length">
                    <thead>
                      <th>Data</th>
                      <th>Início</th>
                      <th>Término</th>
                    </thead>
                    <tr ng-repeat="horario in minicurso.horarios">
                      <td>{{ horario.data | date : 'dd/MM/yyyy' }}</td>
                      <td>{{ horario.inicio | date : 'HH:mm' }}</td>
                      <td>{{ horario.termino | date : 'HH:mm' }}</td>
                    </tr>
                    <tfoot>
                      <th>Data</th>
                      <th>Início</th>
                      <th>Término</th>
                    </tfoot>
                  </table>
                  <modal-body ng-if="!minicurso.horarios.length">
                    Não há horários registrados
                  </modal-body>
                  <modal-footer>
                    <modal-button-close>Fechar</modal-button-close>
                  </modal-footer>
                </modal>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <th>Minicurso</th>
            <th>Ministrante</th>
            <th>Horário</th>
          </tfoot>
        </table>
        <table class="table" ng-if="inscricao.atividades.length">
          <thead>
            <th>Atividade</th>
            <th>Horário</th>
          </thead>
          <tbody>
            <tr ng-repeat='atividade in inscricao.atividades'>
              <td>{{ atividade.atividade }}</td>
              <td>
                <modal-button-open tipo="link" target="horario-atividade-{{ atividade.pk }}"><i class="fa fa-list"></i> Visualizar</modal-button-open>
                <modal titulo="Horários" target="horario-atividade-{{ atividade.pk }}">
                  <table class="table table-bordered" ng-if="atividade.horarios.length">
                    <thead>
                      <th>Data</th>
                      <th>Início</th>
                      <th>Término</th>
                    </thead>
                    <tr ng-repeat="horario in atividade.horarios">
                      <td>{{ horario.data | date : 'dd/MM/yyyy' }}</td>
                      <td>{{ horario.inicio | date : 'HH:mm' }}</td>
                      <td>{{ horario.termino | date : 'HH:mm' }}</td>
                    </tr>
                    <tfoot>
                      <th>Data</th>
                      <th>Início</th>
                      <th>Término</th>
                    </tfoot>
                  </table>
                  <modal-body ng-if="!atividade.horarios.length">
                    Não há horários registrados
                  </modal-body>
                  <modal-footer>
                    <modal-button-close>Fechar</modal-button-close>
                  </modal-footer>
                </modal>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <th>Atividade</th>
            <th>Horário</th>
          </tfoot>
        </table>
        <table class="table" ng-if="inscricao.atividades_gerais.length">
          <thead>
            <th>Descrição</th>
            <th>Data</th>
            <th>Início</th>
            <th>Término</th>
          </thead>
          <tbody>
            <tr ng-repeat='atividade in inscricao.atividades_gerais'>
              <td>{{ atividade.descricao }}</td>
              <td>{{ atividade.data | date: 'dd/MM/yyyy' }}</td>
              <td>{{ atividade.inicio | date: 'HH:mm' }}</td>
              <td>{{ atividade.termino | date: 'HH:mm' }}</td>
            </tr>
          </tbody>
          <tfoot>
            <th>Descrição</th>
            <th>Data</th>
            <th>Início</th>
            <th>Término</th>
          </tfoot>
        </table>
        <table class="table" ng-if="inscricao.palestras.length">
          <thead>
            <th>Palestra</th>
            <th>Palestrante</th>
            <th>Horário</th>
          </thead>
          <tbody>
            <tr ng-repeat='palestra in inscricao.palestras'>
              <td>{{ palestra.nome }}</td>
              <td>{{ palestra.profissional }}</td>
              <td>{{ palestra.data | date: 'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
          <tfoot>
            <th>Palestra</th>
            <th>Palestrante</th>
            <th>Horário</th>
          </tfoot>
        </table>
        <h5 class="list-group-item-heading">Status: {{ inscricao.status }}</h5>
      </panel>
      <panel ng-if="!vm.inscricoes.length" titulo="Inscrições">Não há inscrições efetuadas</panel>
    </div>
  </div>
</div>