<div class="col-md-4 col-md-offset-4" oc-lazy-load="alert">
  <div class="login-wrapper">
    <div class="box">
      <div class="content-wrap">
        <alert tipo="danger" ng-repeat="message in vm.message">{{ message }}</alert>
        <alert tipo="success" ng-show="vm.flash.getMessage()">{{ vm.flash.getMessage() }}</alert>
        <h6>Entrar</h6>
        <form novalidate name="vm.form" ng-submit="vm.submit()">
          <div class="form-group" ng-class="{'has-error' : vm.form.username.$invalid}">
            <input class="form-control" type="email" name="username" ng-model="vm.data.username" placeholder="E-mail" required></input>
            <span class="help-block" ng-repeat="error in vm.error.username">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error' : vm.form.password.$invalid}">
            <input class="form-control" type="password" name="password" ng-model="vm.data.password" placeholder="Senha" required></input>
            <span class="help-block" ng-repeat="error in vm.error.password">{{ error }}</span>
          </div>
          <div class="action">
            <button type="submit" class="btn btn-primary signup" ng-disabled="vm.form.$invalid">{{ vm.confirmButton }}</button>  
          </div>
        </form>
      </div>
      <div class="already">
        <p>Esqueceu sua senha?</p>
        <a ui-sref="sendPasswordResetEmail">Recuperar senha</a><br />
        <p>Primeiro acesso?</p>
        <a ui-sref="register">Cadastre-se</a>
      </div>
    </div>
  </div>
</div>