<div class="col-md-3" ng-if="token">
  <div class="sidebar content-box" style="display: block;">
    <ul class="nav">
      <li class="current" ng-repeat='item in menu'><a ui-sref="{{ item.state }}"><i class="glyphicon glyphicon-{{ item.icon }}"></i> {{ item.label }}</a></li>
    </ul>
  </div>
</div>