<div class="col-md-4 col-md-offset-4" oc-lazy-load="alert">
  <div class="login-wrapper">
    <div class="box">
      <div class="content-wrap">
        <alert tipo="danger" ng-repeat="message in vm.message">{{ message }}</alert>
        <alert tipo="success" ng-show="vm.flash.getMessage()">{{ vm.flash.getMessage() }}</alert>
        <h6>Recuperar Senha</h6>
        <form novalidate name="vm.form" ng-submit="vm.submit()">
          <div class="form-group" ng-class="{'has-error' : vm.form.email.$invalid}">
            <input class="form-control" type="email" name="email" ng-model="vm.data.email" placeholder="E-mail" required></input>
            <span class="help-block" ng-repeat="error in vm.error.email">{{ error }}</span>
          </div>
          <div class="action">
            <button type="submit" class="btn btn-primary signup" ng-disabled="vm.form.$invalid">{{ vm.confirmButton }}</button>  
          </div>
        </form>
      </div>
      <div class="already">
        <a ui-sref="login">Voltar para tela de login</a>
      </div>
    </div>
  </div>
</div>