<div class="col-md-9" oc-lazy-load="['alert', 'panel']">
  <div class="row">
    <div class="col-md-12">
      <panel>
        <alert tipo="danger" ng-repeat="error in vm.error.non_field_errors">{{ error }}</alert>
        <h2>Perfil</h2>
        <form novalidate name="vm.form" ng-submit="vm.submit()">
          <panel-body>
            <div class="form-group" ng-class="{'has-error' : vm.form.first_name.$invalid}">
              <input class="form-control" type="text" name="first_name" placeholder="Nome" ng-model="vm.data.first_name" required />
              <span class="help-block" ng-repeat="error in vm.error.first_name">{{ error }}</span>
            </div>
            <div class="form-group" ng-class="{'has-error' : vm.form.last_name.$invalid}">
              <input class="form-control" type="text" name="last_name" placeholder="Sobrenome" ng-model="vm.data.last_name" required />
              <span class="help-block" ng-repeat="error in vm.error.last_name">{{ error }}</span>
            </div>
            <div class="form-group" ng-class="{'has-error' : vm.form.data_nascimento.$invalid}">
              <input class="form-control" type="text" name="data_nascimento" placeholder="Data de Nascimento" ng-model="vm.data.data_nascimento" ng-minlength="10" ng-maxlength="10" ui-mask="99/99/9999"  ui-mask-placeholder ui-mask-placeholder-char="_" required />
              <span class="help-block" ng-repeat="error in vm.error.data_nascimento">{{ error }}</span>
            </div>
            <div class="form-group" ng-class="{'has-error' : vm.form.cpf.$invalid}">
              <input class="form-control" type="text" name="cpf" placeholder="CPF" ng-model="vm.data.cpf" ng-minlength="14" ng-maxlength="14" ui-mask="999.999.999-99"  ui-mask-placeholder ui-mask-placeholder-char="_" required />
              <span class="help-block" ng-repeat="error in vm.error.cpf">{{ error }}</span>
            </div>
            <legend>Alterar senha <small>(deixe em branco para continuar com a mesma senha)</small></legend>
            <div class="form-group" ng-class="{'has-error' : vm.form.password.$invalid}">
              <input class="form-control" type="password" name="password" placeholder="Senha" ng-model="vm.data.password"></input>
              <span class="help-block" ng-repeat="error in vm.error.password">{{ error }}</span>
            </div>
            <div class="form-group" ng-class="{'has-error' : vm.form.confirm_password.$invalid}">
              <input class="form-control" type="password" name="confirm_password" placeholder="Confirmar senha" ng-model="vm.data.confirm_password"></input>
              <span class="help-block" ng-repeat="error in vm.error.confirm_password">{{ error }}</span>
            </div>
          </panel-body>
          <panel-footer>
            <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid"><i class="fa fa-check-square-o"></i> {{ vm.confirmButton }}</button>
          </panel-footer>
        </form>
      </panel>
    </div>
  </div>
</div>